<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="classroom">

  <!-- 컬럼명과 객체의 프로퍼티 명을 연결한다. -->
  <resultMap type="Classroom" id="ClassroomMap">
    <id column="mid" property="id"/>
    <result column="email" property="email"/>
    <result column="pwd" property="password"/>
  </resultMap>

  <select id="selectList" resultMap="ClassroomMap"
          parameterType="map">
    select crno, titl, sdt, edt, room 
    from pms2_classroom
    <if test="startIndex != null and pageSize != null">
      limit #{startIndex}, #{pageSize}
    </if>
  </select>
  
  <select id="selectOne" 
          resultMap="ClassroomMap" 
          parameterType="string">
    select crno, titl, sdt, edt, room 
    from pms2_classroom
    where titl=#{value}
  </select>
  
  <update id="update" parameterType="Classroom">
    update pms2_classroom set 
        titl=#{titl}, 
        sdt=#{sdt},
        edt=#{edt},
        room=#{room}
    where crno=#{crno}
  </update>
  
  <delete id="delete" parameterType="Classroom">
    delete from pms2_classroom 
    where crno=#{crno}
  </delete>
  
  <insert id="insert" parameterType="Classroom">
    insert into pms2_classroom(titl,sdt,edt,room) 
    values(#{titl},#{sdt},#{edt},#{room})
  </insert>

</mapper>




